<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Entropy System</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1>Password Entropy System</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="mt-4">
            <p>&copy; 2024 Password Entropy System by Isaac Oyekunle</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
</body>
</html>
